{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Caramel Acadamy</title> 
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/jpg" href="{% static 'staticHome/images/cr.jpg' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%CPT+Serif:400,700,400italic' rel='stylesheet'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'staticHome/css/style.css' %}">
	 
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	  <link rel="stylesheet" href="{% static 'staticHome/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'staticHome/css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
	
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	
		 <style>
		
		
			
			
			
			</style>
</head>
<body class="body-overflow" style="font-family: 'Times New Roman', Times, serif;">
	<div class="acaheader" id="topheader">
		<div class="container-fluid text5">
			<nav class="navbar navbar-expand-lg bg navbar-light">
				<!-- Brand-->
				<a class="navbar-brand logo1" href="academy">
					<img src="{% static 'staticHome/images/caramelacademy.png'%}" width="200px" height="70px">
				</a>

				<!-- Toggler/collapsibe Button -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="collapsibleNavbar">
					<ul class="navbar-nav ml-auto font-weight-bold" style="width:50%">
						<li class="nav-item " style="width:43.33%;">
							<a class="nav-link px-lg-4 alink" href="/"  >IT Services Home</a>
						</li>
						<li class="dropdown nav-item" style="width:33.33%;">
							<a href="#" class="dropdown-toggle nav-link px-lg-4 alink" data-toggle="dropdown"
							 role="button" aria-haspopup="true" >Registration
							  <span class="caret"></span></a>
							<ul class="dropdown-menu" style="top:30px;left:-20px;">
							  <li class="nav-item"><a class="nav-link px-lg-4" href="user/login" style="color:white;">Student</a></li>
							  <li class="nav-item"><a class="nav-link px-lg-4" href="instructor/instructor_login" style="color:white;">Instructor</a></li>
							  <li class="nav-item">
								<a class="nav-link px-lg-4" href="organisation/organisation_login" style="color:white;">Corporates</a>
							</li>
							  
						<li class="nav-item">
							<a class="nav-link px-lg-4 " href="college/college_login" style="color:white;">Universities</a>
						</li>
						<li class="nav-item">
							<a class="nav-link px-lg-4 " id="admin-bar" href="admin/admin_login" 
							style="color:white;">Admin</a>
						</li>
							</ul>
						  </li>
					
						<li class="nav-item" style="width:33.33%">
							<a class="nav-link px-lg-4 alink" href="contact/academycontact" >Contact Us</a>
						</li>
					</ul>
				</div>





				
			</nav>
		</div>
	</div>

	<section class="header-section">
		<div class="container-fluid" class="aca">
				<div class="row banner3" id="homeid1">
					<div class="col-md-6 col-lg-6 col-12">
					<div data-aos="flip-left"data-aos-duration="2000"data-aos-easing="ease-out-cubic">
					<h1 > DRIVE YOUR TRANSFORMATION WITH US </h1>
						<p> Be the first person to transform yourself with our unique & world class corporate level trainings & industry specific real time scenario based hands-on assignments </p>
						<div class="learn3">
						<a href="#learnmore" class="express-btn">LEARN MORE</a>
						<a href="{% static 'broouchure.pdf' %}" download class="banner2 ml-lg-5">DOWNLOAD</a>
						</div>
						</div>
					</div>
					
					 <div class="col-md-6 col-lg-6 col-12 text-center1">
						<!-- <div data-aos="fade-left"data-aos-duration="2000"> -->
 							<img src="{% static 'staticHome/images/show4.png'%}" width="100%" height="60%" >
						</div>
 				</div>
			</div>
			</section>

<!-------------------FEATURE START-------------------------->



	<section class="feature-section" id="feature">
		<div class="container-fluid">	
	<div class="row">
	<div class="no-margin col-lg-4 col-md-6 col-12">
	<img src="{% static 'staticHome/images/show5.png'%}" class="img-fluid" id="whywe">
	</div>
	<div class="col-lg-8 col-md-8 col-sm-12">
	
		<h2 class="font-weight-bold tophead1" style="color: rgba(0,191,255 ,1); margin-top: 50px; ">
			WHY CARAMEL IT

		</h2>
	
	<p class="para-side">SHOW MORE</p>
	<button class="collapse-btn" data-toggle="collapse" data-target="#demo" style="margin-right:50px;">
		<img src="{% static 'staticHome/images/drop-down-arrow.png'%}" alt="" srcset="">
		
	
	
	</button>    
	
	
		</div>
	</div>



		</div>
		
	<div class="container-fluid"  >
		<div class="row">

			<div class="col-md-12 col-lg-12 col-12 ">

	 <a href="https://caramelit.com/"><img id="demo" class="collapse" src="{% static 'staticHome/images/caramelitservices.png'%}"></a>


			</div>
		</div>

</div>
</section>




<!-------------------FEATURE END-------------------------->
<!-------------------JOINING START-------------------------->


<!-------------------JOINING END-------------------------->
<!-------------------WORKING START-------------------------->
<div class="row py-5" id="learnmore">
	<div class=" col-lg-4 col-md-6 col-12 ">
		<!-- <img src="{% static 'staticHome/images/show18.png'%}" class="img-fluid imgwidth"> -->
		<img src="{% static 'staticHome/images/show11.png'%}" class="mx-0 px-0"style="width: 100%!important;height: 100% !important;">
	
</div>
	<div class="col-lg-8 col-md-6 col-12">
	
	<h2 class="font-weight-bold tophead1" style="color: rgba(124,77,255 ,1)">LET US KNOW MORE ABOUT YOU</h2>
	</div>
	</div>
	<div class="container-fluid">
	<div class="row ">
		
		<div id="no-space" class="col-md-12 col-lg-12 col-12">
	<div class="middleblock" style=" background-image: url({%static 'staticHome/images/bgmid.jpg' %});">
		<br>
		<center>
		<div class="sel sel--black-panther" onclick="vis();">
			<select name="select-profession" id="select-profession" onclick="vis();">
			  <option value="" >Select your Option</option>
			
			  <option value="hacker" onclick="vis();">Student (with no IT Knowledge)</option>
			  <option value="gamer" onclick="vis();">Student (with some IT Knowledge)</option>
			  <option value="developer" onclick="vis();">Professional (with no IT Experience)</option>
			  <option value="programmer" onclick="vis();">Professional (with IT Experience)</option>
			</select>
		  </div>
		  <hr class="rule">
		</center>
		 
		  <div id="middlebox">
			<a href="https://caramelit.com/">
		  <div class="counselling">
			  <h2>COUNSELLING</h2>
			  <br>
		  </div></a>
		  <div style="display:flex;align-items:flex-end;">
		  <img src="{% static 'staticHome/images/arrow.png'%}" class="midarrow" style="width:8%;height:8%">
		 <div class="eval">
			<a href="https://caramelit.com/">
			<h2>PROFILE EVALUATION</h2></a>
			<br>
		</div>
		</div>
		<div style="display:flex;align-items:flex-end;margin-left:33%">
			<img src="{% static 'staticHome/images/arrow.png'%}" class="midarrow">
			<div class="recommend">
				<a href="https://caramelit.com/">
			  <h2>RECOMMENDATION</h2></a>
			  <br>
		  </div>
		  </div>
		</div>
		<div class="enrollment">
			<a href="#"><h1>ENROLLMENT</h1></a>
		</div>
	</div>
	</div></div></div>
	<script>
		
		function vis(){
			document.getElementById("middlebox").style.visibility="visible" ;
		}
		function dis(){
			document.getElementById("middlebox").style.visibility="visible" ;
		}
		$('.sel').each(function() {
  $(this).children('select').css('display', 'none');
  
  var $current = $(this);
  
  $(this).find('option').each(function(i) {
    if (i == 0) {
      $current.prepend($('<div>', {
        class: $current.attr('class').replace(/sel/g, 'sel__box')
      }));
      
      var placeholder = $(this).text();
      $current.prepend($('<span>', {
        class: $current.attr('class').replace(/sel/g, 'sel__placeholder'),
        text: placeholder,
        'data-placeholder': placeholder,
      }));
      
      return;
    }
    
    $current.children('div').append($('<span>', {
      class: $current.attr('class').replace(/sel/g, 'sel__box__options'),
      text: $(this).text()
    }));
  });
});

// Toggling the `.active` state on the `.sel`.
$('.sel').click(function() {
  $(this).toggleClass('active');
});

// Toggling the `.selected` state on the options.
$('.sel__box__options').click(function() {
  var txt = $(this).text();
  var index = $(this).index();
  
  $(this).siblings('.sel__box__options').removeClass('selected');
  $(this).addClass('selected');
  
  var $currentSel = $(this).closest('.sel');
  $currentSel.children('.sel__placeholder').text(txt);
  $currentSel.children('select').prop('selectedIndex', index + 1);
});
	</script>



<section class="working-section" id="working">
	<div class="row py-5">
		<div class="col-lg-8 col-md-6 col-12">
		
			<h2 class="font-weight-bold tophead1 text-right" style="color: rgba(0,191,255 ,1)">	<button class="collapse-btn-2" id="margin-lefts" 
				data-toggle="collapse" data-target="#colaapse" >
				<img src="{% static 'staticHome/images/drop-down-arrow.png'%}" alt="" srcset="">
			</button> <p class="m-left">SHOW MORE</p> HOW WE WORK</h2>
			
		</div>
	
	<div class="col-lg-4 col-md-6 col-12">
	<img src="{% static 'staticHome/images/show18.png'%}" class="img-fluid imgwidth">
	</div>
	</div>
	<div class="container -fluid ">
		<div class="row text-center">
			<!-- <div class="col-md-1">
	
			</div> -->
			<div id="colaapse" class="grid-container2 collapse"
			 style="
			display: grid;
  grid-template-columns: 30% 30% 20% 30%;
  background-color: white;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;">
				<div><a href=""><img src="{% static 'staticHome/images/grid/1.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/2.png'%}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/3.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/4.png'%}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/5.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/6.png'%}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/7.png'%}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/8.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/9.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/10.png' %}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/11.png'%}"></a></div>
				<div><a href=""><img src="{% static 'staticHome/images/grid/12.png' %}"></a></div>
				
			
		</div>  
			<!-- <div class="col-md-1">
	
			</div> -->
		</div>
	</div>
</section>


<!-------------------WORKING END-------------------------->
<!-------------------PROGRAMS START-------------------------->
<section class="program-section " id="ourprogram">
	<div class="row py-5">
	<div class="col-lg-4 col-md-6 col-10">
	    <img src="{% static 'staticHome/images/show5.png'%}" class="img-fluid">
	</div>
	<div class="col-lg-6 col-md-6 col-12" style="margin-left:40px;">
		<h2 class="font-weight-bold tophead1" style="color: rgba(124,77,255 ,1)">OUR PROGRAMS</h2>
	</div>
	</div>
	<div class="container-fluid back1" >
<br><br>
                  <h1 style="font-weight: bold;letter-spacing: 2px;font-size: 40px ;text-align: center; 
				color: white;">Drive Your Transformation With Us</h1>
				<p  style="text-align: center; margin-left: 16px;font-weight: bold;
				padding-top: 10px;color: white; font-size:1.5em;">Collaboration Platform For 
				All Your Technical Training Needs<br>
				<span style="color:#07ef07;">Join Us Today</span>
			</p>



		


		<button type="button" class="btn program" 
		data-toggle="collapse" data-target="#demo" 
		style="background-color: white;color:black; height:40px;"  onClick="countClick()">
		<h6 style="font-weight:600;margin-bottom:250px;   "   >

			Software Development  
			 
			<span class="js-arrow-down">
				
			</span>
		</h6>
	
	</button>
		
	
			
			   
		
		<div id="demo" class="collapse c-size text-center" style="background-color: white;">

			<section>

				<div id="myBtnContainer"> <br>
				<a href="">	<button class="btn " onmouseover="filterSelection('front')"
					>Front-End</button></a>
					<a href="courses/backend"><button class="btn " onmouseover="filterSelection('backf')">Back-End</button></a>
					<a href="courses/fullstack"><button class="btn " onmouseover="filterSelection('full')">Full Stack</button></a>
					<a href="courses/functionaltesting">		<button class="btn " onmouseover="filterSelection('fun')"> Functional Testing</button></a>
					<a href="courses/datascience">	<button class="btn " onmouseover="filterSelection('ds')"> Data Science</button></a>
					<a href="courses/mobility">	<button class="btn " onmouseover="filterSelection('mob')"> Mobility</button></a>
					<a href="courses/devops">	<button class="btn " onmouseover="filterSelection('devops')"> DevOps</button></a>
					<a href="courses/cloud">	<button class="btn " onmouseover="filterSelection('cc')"> Cloud Certification</button></a>
					<a href="courses/cyber">		<button class="btn " onmouseover="filterSelection('cyber')"> 
						Cyber Security</button></a>
						<a href="courses/it">	<button class="btn " onmouseover="filterSelection('it')"> 
							Information Technology</button></a>
							<a href="courses/digital">	<button class="btn " onmouseover="filterSelection('digi')"> 
								Digital Marketing </button></a>
								<a href="courses/erp">	<button class="btn " onmouseover="filterSelection('erp')"> 
								ERP</button></a>
								<a href="courses/itcertification">	<button class="btn " onmouseover="filterSelection('itc')"> 
									IT Certifications</button></a>
				</div>
				  
				 <div class="container text-center">
				 

				  <div class="row text-center sub-course">
					<div class="column front text-center"  >
					  <div class="content" >
						<img src="{% static 'staticHome/images/core ui.jpeg'%}"  alt="Mountains" style="width:100%">
				<a href="courses/coursepage/coreui"
				 style="color:black; text-decoration:none;">
				 		<p class="c-title">Core UI</p></a>
						
					  </div>
					</div>
					<div class="column front">
					  <div class="content">
					  <img src="{% static 'staticHome/images/advancedui.jpg'%}"  style="width:100%">
					  <a href="courses/coursepage/advancedui"
					  style="color:black; text-decoration:none;">		<p class="c-title">Advanced UI</p></a>
						
						
						
					  </div>
					</div>
					<div class="column front">
					  <div class="content">
					  <img src="{% static 'staticHome/images/angular.png'%}"  style="width:100%">
					  <a href="courses/coursepage/angularjs"
					  style="color:black; text-decoration:none;">	
					    <p class="c-title">Angular JS</p></a>
					  </div>
					</div>
					
					<div class="column front">
					  <div class="content">
						<img src="{% static 'staticHome/images/nodejs.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/reactjs"
						style="color:black; text-decoration:none;">	
							<p class="c-title">React JS</p></a>
					  </div>
					</div>
					


					<div class="column front">
					  <div class="content">
					  <img src="{% static 'staticHome/images/vue.jpg'%}"  style="width:100%">
					  <a href="courses/coursepage/vuejs"
					  style="color:black; text-decoration:none;">	<p class="c-title">Vue JS</p>
					</a>
					  </div>
					</div>
				  
			
					<div class="column backf">
						<div class="content">
						<img src="{% static 'staticHome/images/java1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/java"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">Java</p>
					  </a>
						</div>
					  </div>

					  <div class="column backf">
						<div class="content">
						<img src="{% static 'staticHome/images/.net_1.jpg'%}"
						 style="width:100%">
						 <a href="courses/coursepage/.net"
						 style="color:black; text-decoration:none;">	
						 	  <p class="c-title">.Net</p></a>
					  
						</div>
					  </div>

					  <div class="column backf">
						<div class="content">
						<img src="{% static 'staticHome/images/nodejs.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/nodejs"
						style="color:black; text-decoration:none;">	  
						<p class="c-title">Node JS</p>
					  </a>
						</div>
					  </div>
					  <div class="column backf">
						<div class="content">
						<img src="{% static 'staticHome/images/ruby1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/ruby"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Ruby</p></a>
					  
						</div>
					  </div>
					  <div class="column backf">
						<div class="content">
						<img src="{% static 'staticHome/images/python.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/python"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Python</p></a>
					  
						</div>
					  </div>


					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/core-java.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/corejava"
						style="color:black; text-decoration:none;">	
						
						<p class="c-title">Core Java</p></a>
					  
						</div>
					  </div>

					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/.net core.jpeg'%}"  style="width:100%">
						<a href="courses/coursepage/dotnetcore"
						style="color:black; text-decoration:none;">		
						  <p class="c-title">.NET Core </p>
					  </a>
						</div>
					  </div>
					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/mevn.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/mevn"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">MEVN </p></a>
					  
						</div>
					  </div>



					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/java1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/advancejava"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Advanced Java </p>
					  
						</div>
					  </div>
					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/mean.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/mean"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">MEAN </p>
					  </a>
						</div>
					  </div>


					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/golang.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/golang"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Golang</p>
					  </a>
						</div>
					  </div>

					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/.net_1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/.net"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">.NET </p></a>

					  
						</div>
					  </div>

					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/measn.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/measn"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">MEASN </p></a>

					  
						</div>
					  </div>




					  <div class="column full">
						<div class="content">
						<img src="{% static 'staticHome/images/ruby1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/ruby"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">Ruby </p>
						</a>
						</div>
					  </div>

					  <div class="column fun">
						<div class="content">
						<img src="{% static 'staticHome/images/manualtesting.png'%}"  style="width:100%">
						<a href="courses/coursepage/manualtesting"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Manual Testing </p>
						</a>
						</div>
					  </div>


					  <div class="column fun">
						<div class="content">
						<img src="{% static 'staticHome/images/automationtesting.png'%}"  style="width:100%">
						<a href="courses/coursepage/automation"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Automation Testing </p>
					  </a>
						</div>
					  </div>


					  <div class="column fun">
						<div class="content">
						<img src="{% static 'staticHome/images/cloudtesting.png'%}"  style="width:100%">
						<a href="courses/coursepage/cloud"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Cloud Testing </p>
					  </a>
						</div>
					  </div>

			

					  <div class="column fun">
						<div class="content">
						<img src="{% static 'staticHome/images/fullstacktesting.png'%}"  style="width:100%">
						<a href="courses/coursepage/fullstacktesting"
						style="color:black; text-decoration:none;">	
									  <p class="c-title">Full Stack Testing </p>
					  </a>
						</div>
					  </div>

					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/dsc.jpg'%}"  style="width:100%">
						
							  <a href="courses/coursepage/fullstacktesting"
							  style="color:black; text-decoration:none;">	
							  	<p class="c-title">DS Bootcamp	</p>
					  </a>
						</div>
					  </div>
					  <div class="column ds">
						<div class="content">
					
					
					
							<img src="{% static 'staticHome/images/data science.png'%}"  style="width:100%">
					
							<a href="courses/coursepage/datascientistcertification"
							style="color:black; text-decoration:none;">	
							<p class="c-title">Data Science Certification</p>
					  </a>
						</div>
					  </div>


					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/ai ml.jpg'%}"  style="width:100%">
					
						<a href="courses/coursepage/aimlfoundationcourse"
						style="color:black; text-decoration:none;">
							  <p class="c-title">AI / ML Foundation Course</p>
					  </a>
						</div>
					  </div>
					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/mlpython.jpg'%}"  style="width:100%">
						
						<a href="courses/coursepage/mlwithpython"
						style="color:black; text-decoration:none;">
						
						<p class="c-title">ML with Python </p>
					  </a>
						</div>
					  </div>



					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/nlp.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/naturallanguageprocessing"
						style="color:black; text-decoration:none;">	
						<p class="c-title">Natural Language Processing</p>
						</a>
						</div>
					  </div>

					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/hadoop.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/hadoop"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Hadoop <br><br></p>
						</a>
						</div>
					  </div>

					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/deep learning.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/deeplearning"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Deep Learning </p>
					  </a>

						</div>
					  </div>



					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/r pro.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/rprogramming"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">R Programming <br><br></p>
					  </a>
						</div>
					  </div>
					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/data analytics.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/dataanalytics"
						style="color:black; text-decoration:none;">	
							
						
						
						<p class="c-title">Data Analytics <br><br></p>
					  </a>
						</div>
					  </div>

			
					  <div class="column ds">
						<div class="content">
						<img src="{% static 'staticHome/images/aimlexpert.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/aimlexpertcourse"
						style="color:black; text-decoration:none;">	
							
						
						<p class="c-title">AI / ML Expert Course </p>
					  
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
						<img src="{% static 'staticHome/images/flutter1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/flutter"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">Flutter</p>
					  </a>
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
							<a href="courses/coursepage/xamarin"
						style="color:black; text-decoration:none;">	
						<img src="{% static 'staticHome/images/xamarin.jpg'%}"  style="width:100%">
						  <p class="c-title">Xamarin</p>
					  </a>
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
						
						
							<img src="{% static 'staticHome/images/android.jpg'%}"  style="width:100%">
							<a href="courses/coursepage/android"
							style="color:black; text-decoration:none;">	
								<p class="c-title">Android</p>
							</a>
						</div>
					  </div>



					  <div class="column mob">
						<div class="content">
						<img src="{% static 'staticHome/images/ionic1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/ionic"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">Ionic</p>
					  </a>
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
						<img src="{% static 'staticHome/images/onsenui.png'%}"  style="width:100%">
						  
						<a href="courses/coursepage/onsenui"
						style="color:black; text-decoration:none;">	
						<p class="c-title">Onsen UI</p>
					  </a>
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
						<img src="{% static 'staticHome/images/reactnative.png'%}"  style="width:100%">
						<a href="courses/coursepage/reactnative"
						style="color:black; text-decoration:none;">	
							  <p class="c-title">React Native</p>
						</a>
						</div>
					  </div>
					  <div class="column mob">
						<div class="content">
						<img src="{% static 'staticHome/images/ios.jpg'%}"  style="width:100%">
						
						<a href="courses/coursepage/ios"
						style="color:black; text-decoration:none;">	
						<p class="c-title">IOS</p>
					  </a>
						</div>
					  </div>
					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/devopsfound.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/devops"
						style="color:black; text-decoration:none;">	
						<p class="c-title">DevOps Foundation</p>
					  </a>
						</div>
					  </div>
					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/devops expert.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/devopsexpert"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">DevOps Expert</p>
					  </a>
						</div>
					  </div>
					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/ansible.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/ansible"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">Ansible</p>
					  </a>
						</div>
					  </div>

					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/chef.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/chef"
						style="color:black; text-decoration:none;">	
						  <p class="c-title">CHEF</p>
					  </a>
						</div>
					  </div>



					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/docker.jpg'%}"  style="width:100%">
						
						<a href="courses/coursepage/docker"
						style="color:black; text-decoration:none;">	
						<p class="c-title">Dockers</p>
					  </a>
						</div>
					  </div>
					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/kubernates.png'%}"  style="width:100%">
						<a href="courses/coursepage/kubernets"
						style="color:black; text-decoration:none;">	
								  <p class="c-title">Kubernetes</p>
					  </a>
						</div>
					  </div>


					  <div class="column devops">
						<div class="content">
						<img src="{% static 'staticHome/images/open stack.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/openstack"
						style="color:black; text-decoration:none;">
								  <p class="c-title">Open Stack</p>
					  </a>
						</div>
					  </div>
					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/aws technical.jpg'%}"  style="width:100%">
					
						<a href="courses/coursepage/awstechnicalessentials"
						style="color:black; text-decoration:none;">
							<p class="c-title">AWS Technical Essential</p>
					  </a>
						</div>
					  </div>
					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/awscloud.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/awscloudpractitioner"
						style="color:black; text-decoration:none;">
						  <p class="c-title">AWS Cloud <br>Practioner</p>
					  </a>
						</div>
					  </div>

					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/java1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/awssolutionarchitectassociate"
						style="color:black; text-decoration:none;">
							  <p class="c-title">AWS Solution Architect Associate</p>
					  </a>
						</div>
					  </div>
					  <div class="column cc">
						<div class="content">
		<img src="{% static 'staticHome/images/awssolutionarchi.jpg'%}"  style="width:100%">
							<a href="courses/coursepage/awsdeveloperassociate"
							style="color:black; text-decoration:none;">
								  <p class="c-title">AWS Developer Associate</p>
					  </a>
						</div>
					  </div>


					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/awssysops.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/awssysopsassociateadministrator"
						style="color:black; text-decoration:none;">
						<p class="c-title">AWS Sysops Associate Administrator</p>
					  </a>
						</div>
					  </div>



					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/Cloud Computing_Microsoft Azure Expert Certification-01.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/microsoftazurefundamentals"
						style="color:black; text-decoration:none;">
						<p class="c-title">Microsoft Azure Fundamentals</p>
					  </a>
						</div>
					  </div>

					  <div class="column cc">
						<div class="content">
						<img src="{% static 'staticHome/images/Cloud Computing_Microsoft Azure Expert Certification-01.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/microsoftazureexpertcertification"
						style="color:black; text-decoration:none;">
						  <p class="c-title">Microsoft Azure Expert Certification</p>
					  </a>
						</div>
					  </div>
					  <div class="column cyber">
						<div class="content">
						<img src="{% static 'staticHome/images/cissp.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/cissp"
						style="color:black; text-decoration:none;">
										  <p class="c-title">CISSP</p>
						</a>
						</div>
					  </div>
					  <div class="column cyber">
						<div class="content">
						<img src="{% static 'staticHome/images/cisa.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/cisa"
						style="color:black; text-decoration:none;">
						  <p class="c-title">CISA</p>
					  </a>
						</div>
					  </div>
					  <div class="column cyber">
						<div class="content">
						<img src="{% static 'staticHome/images/ceh.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/ceh"
						style="color:black; text-decoration:none;">
						  <p class="c-title">CEH</p>
					  </a>
						</div>
					  </div>

					  <div class="column cyber">
						<div class="content">
						<img src="{% static 'staticHome/images/comptia-security-plus.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/comptiasecurity"
						style="color:black; text-decoration:none;">
						  <p class="c-title">Comptia Security++</p>
					  </a>
						</div>
					  </div>

					  <div class="column cyber">
						<div class="content">
						<img src="{% static 'staticHome/images/cism.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/cism"
						style="color:black; text-decoration:none;">
							  <p class="c-title">CISM</p>
							  </a>
					  
						</div>
					  </div>

					  <div class="column it">
						<div class="content">
							<a href="courses/coursepage/salesforce"
							style="color:black; text-decoration:none;">
								<img src="{% static 'staticHome/images/sales force.jpg'%}"  style="width:100%">
						  <p class="c-title">Salesforce</p>
						  </a>
					  
						</div>
					  </div>

					  <div class="column it">
						<div class="content">
						<img src="{% static 'staticHome/images/service-now.png'%}"  style="width:100%">
						<a href="courses/coursepage/servicenow"
						style="color:black; text-decoration:none;">
						  <p class="c-title">ServiceNow</p>
					  </a>
						</div>
					  </div>


					  <div class="column it">
						<div class="content">
						<img src="{% static 'staticHome/images/remedy.png'%}"  style="width:100%">
						<a href="courses/coursepage/remedy"
						style="color:black; text-decoration:none;">
							  <p class="c-title">Remedy</p>
					  </a>
						</div>
					  </div>



					  <div class="column it">
						<div class="content">
						<img src="{% static 'staticHome/images/microdynamics.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/microsoftdynamics"
						style="color:black; text-decoration:none;">
						  <p class="c-title">MicroSoft Dynamics</p>

					  </a>
						</div>
					  </div>




					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/digital.png'%}"  style="width:100%">
						<a href="courses/coursepage/digitalmarketingfoundation"
						style="color:black; text-decoration:none;">
							  <p class="c-title">   Digital Marketing Foundation  </p>
					  </a>
						</div>
					  </div>
					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/Digital_marketng_expert-1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/digitalmarketingexpert"
						style="color:black; text-decoration:none;">
							  <p class="c-title">   Digital Marketing Expert  </p>
					  </a>
						</div>
					  </div>



					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/SEO-1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/seo"
						style="color:black; text-decoration:none;">
							  <p class="c-title">   SEO <br><br> </p>
					  </a>
						</div>
					  </div>



					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/smo1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/smo"
						style="color:black; text-decoration:none;">
							  <p class="c-title">   SMO<br><br>  </p>
					  </a>
						</div>
					  </div>

					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/scm.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/scm"
						style="color:black; text-decoration:none;">
						  <p class="c-title"> SCM <br><br></p>
					  </a>
						</div>
					  </div>


					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/smm1.png'%}"  style="width:100%">
						<a href="courses/coursepage/smm"
						style="color:black; text-decoration:none;">
							  <p class="c-title">  SMM <br><br> </p>
					  </a>
						</div>
					  </div>



					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/java1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/adwordsfoundation"
						style="color:black; text-decoration:none;">
						  <p class="c-title">  Adwords Foundation <br><br></p>
</a>
						</div>
					  </div>




					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/adwordexpert.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/adwordexpert"
						style="color:black; text-decoration:none;">
						  <p class="c-title">   Adword Expert <br><br> </p>
					  </a>
						</div>
					  </div>


					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/contentmarketing.png'%}"  style="width:100%">
						<a href="courses/coursepage/contentmarketing"
						style="color:black; text-decoration:none;">
							  <p class="c-title">   Content Marketing <br><br>  </p>
					  </a>
						</div>
					  </div>


					  <div class="column digi">
						<div class="content">
						<img src="{% static 'staticHome/images/branding.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/branding"
						style="color:black; text-decoration:none;">
						  <p class="c-title">  Branding <br><br> </p>
					  </a>
						</div>
					  </div>
					  <div class="column erp">
						<div class="content">
						<img src="{% static 'staticHome/images/sap.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/sap"
						style="color:black; text-decoration:none;">
						  <p class="c-title">  SAP </p>
					  </a>
						</div>
					  </div>

					  <div class="column erp">
						<div class="content">
						<img src="{% static 'staticHome/images/oracle.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/oracle"
						style="color:black; text-decoration:none;">
							  <p class="c-title">  Oracle </p>
					  </a>
						</div>
					  </div>

					  <div class="column erp">
						<div class="content">
						<img src="{% static 'staticHome/images/inforln.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/inforln"
						style="color:black; text-decoration:none;">
							  <p class="c-title">  Infor LN </p>
					  </a>
						</div>
					  </div>
					  <div class="column erp">
						<div class="content">
						<img src="{% static 'staticHome/images/rootstack1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/inforln"
						style="color:black; text-decoration:none;">
							  <p class="c-title">  Root Stack</p>
					  </a>
						</div>
					  </div>
					  <div class="column itc">
						<div class="content">
						<img src="{% static 'staticHome/images/itil.png'%}"  style="width:100%">
						<a href="courses/coursepage/itilfoundation"
						style="color:black; text-decoration:none;">
						  <p class="c-title">  ITIL Foundation </p>
					  </a>
						</div>
					  </div>


					




					  <div class="column itc">
						<div class="content">
						<img src="{% static 'staticHome/images/pmp.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/pmp"
						style="color:black; text-decoration:none;">
						<p class="c-title">  PMP </p>
					  </a>
						</div>
					  </div>
					  <div class="column itc">
						<div class="content">
						<img src="{% static 'staticHome/images/PMI-ACP.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/pmiacp"
						style="color:black; text-decoration:none;">
						<p class="c-title">  PMI - ACP </p>
					  </a>
						</div>
					  </div>

					  <div class="column itc">
						<div class="content">
						<img src="{% static 'staticHome/images/Agile.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/agile"
						style="color:black; text-decoration:none;">
						  <p class="c-title">  Agile </p>
					  </a>
						</div>
					  </div>

					  <div class="column itc">
						<div class="content">
						<img src="{% static 'staticHome/images/prince1.jpg'%}"  style="width:100%">
						<a href="courses/coursepage/prince2"
						style="color:black; text-decoration:none;">
							  <p class="c-title">  Prince 2 </p>
</a>
						</div>
					  </div>




				  </div>
				</div>
				
				
				  <script>
				  filterSelection("front")
				  function filterSelection(c) {
					var x, i;
					x = document.getElementsByClassName("column");
					if (c == "all") c = "";
					for (i = 0; i < x.length; i++) {
					  w3RemoveClass(x[i], "show");
					  if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
					}
				  }
				  
				  function w3AddClass(element, name) {
					var i, arr1, arr2;
					arr1 = element.className.split(" ");
					arr2 = name.split(" ");
					for (i = 0; i < arr2.length; i++) {
					  if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
					}
				  }
				  
				  function w3RemoveClass(element, name) {
					var i, arr1, arr2;
					arr1 = element.className.split(" ");
					arr2 = name.split(" ");
					for (i = 0; i < arr2.length; i++) {
					  while (arr1.indexOf(arr2[i]) > -1) {
						arr1.splice(arr1.indexOf(arr2[i]), 1);     
					  }
					}
					element.className = arr1.join(" ");
				  }
				  
				  
				  // Add active class to the current button (highlight it)
				  var btnContainer = document.getElementById("myBtnContainer");
				  var btns = btnContainer.getElementsByClassName("btn");
				  for (var i = 0; i < btns.length; i++) {
					btns[i].addEventListener("click", function(){
					  var current = document.getElementsByClassName("active");
					  current[0].className = current[0].className.replace(" active", "");
					  this.className += " active";
					});
				  }
				  
				  
				  </script>
				  
			<script>
				$('.js-custom-sleeve-option').click(function(){
					$(this).children('span').toggleClass('js-arrow-down js-arrow-up')
					})
			</script>
				
			</section>

		</div>




		<br><br><br>
	  </div>
		
	
	






		<button class="tablink"
		 onclick="openPage('Home', this, 'rgba(255,183,77 ,1)')" id="defaultOpen"><h3>All Courses</h3></button>
		<button id="popular" class="tablink" onclick="openPage('News', this, 'rgba(255,183,77 ,1)')" >
			<h3 >Popular Courses</h3></button>
		<!-- <button class="tablink" onclick="openPage('Contact', this, 'rgba(255,183,77 ,1)')"><h3>Recent Courses</h3></button>
		 --><!-- <button class="tablink" onclick="openPage('About', this, 'orange')">About</button> -->

		<div id="Home" class="tabcontent" style="background:white;" >
			<div class="container-fluid" id="courses2" style="display: inline-block !important;padding-left: 60px;">
				<!-- allcourses  -->
					<div class="row " id="courses3">  
							<div class="course" >  
								<div class="sub" >  
									<img src="{% static 'staticHome/images/core ui.jpeg'%}">  
								</div>  
								<div class="sub1">  
									<h5>Core UI</h5>  
									  
									<a href="courses/coursepage/coreui"><button id="read">KNOW MORE</button></a>  
								</div>  
							</div>  
							<div class="course" >  
								<div class="sub" >  
									<img src="{% static 'staticHome/images/sales force.jpg'%}">  
								</div>  
								<div class="sub1">  
									<h5>Salesforce</h5>  
									  
									<a href="courses/coursepage/salesforce"><button id="read">KNOW MORE</button></a>  
								</div>  
							</div>  
							<div class="course" >  
								<div class="sub" >  
									<img src="{% static 'staticHome/images/ruby1.jpg'%}">  
								</div>  
								<div class="sub1">  
									<h5>Ruby</h5>  
									  
									<a href="courses/coursepage/ruby"><button id="read">KNOW MORE</button></a>  
								</div>  
							</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/advancedui.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Advanced UI</h5>  
				  
				<a href="courses/coursepage/advancedui"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" id="notreq" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/angular.png'%}">  
			</div>  
			<div class="sub1">  
				<h5>Angular JS</h5>  
				 
				<a href="courses/coursepage/angularjs"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course"id="notreq" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/react2.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>React JS</h5>  
				  
				<a href="courses/coursepage/reactjs"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course"id="notreq" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/vue.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Vue Js</h5>  
				  
				<a href="courses/coursepage/vuejs"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" id="notreq">  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/java1.jpg'%}">  
			</div> 
			<div class="sub1">  
				<h5>JAVA</h5>  
				  
				<a href="courses/coursepage/java"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" id="notreq">  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/.net_1.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>.NET</h5>  
				  
				<a href="courses/coursepage/dotnet"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" id="notreq">  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/nodejs.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Node JS</h5> 
				  
				<a href="courses/coursepage/nodejs"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div> 
	</div> 
	<a href="courses/coursedetails" id="know">READ MORE >></a>
</div> 
				<!-- courses close -->
		</div>
				<div id="News" class="tabcontent">
		<div class="container-fluid " id="courses2" style="display: inline-block !important;padding-left: 60px;">
				<!-- allcourses  -->
					<div class="row " id="courses3">  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/core ui.jpeg'%}">  
			</div>  
			<div class="sub1">  
				<h5>CoreUI</h5>  
				 
				<a href="courses/coursepage/coreui"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/java1.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Java</h5> 
				  
				<a href="courses/coursepage/java"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/mean.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>MEAN</h5>  
				 
				<a href="courses/coursepage/mean"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" > 
				<img src="{% static 'staticHome/images/ionic1.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Ionic</h5>  
				  
				<a href="courses/coursepage/ionic"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/ansible.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Ansible</h5>  
				  
				<a href="courses/coursepage/ansible"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/r pro.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>R Programming</h5>  
				  
				<a href="courses/coursepage/rprogramming"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/.net_1.jpg'%}"> 
			</div>  
			<div class="sub1">  
				<h5>.NET</h5>  
				  
				<a href="courses/coursepage/dotnet"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div>  
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/SEO-1.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>SEO</h5> 
				  
				<a href="courses/coursepage/seo"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div> 
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/oracle.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>Oracle</h5> 
				  
				<a href="courses/coursepage/oracle"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div> 
		<div class="course" >  
			<div class="sub" >  
				<img src="{% static 'staticHome/images/nodejs.jpg'%}">  
			</div>  
			<div class="sub1">  
				<h5>NODE JS</h5> 
				  
				<a href="courses/coursepage/nodejs"><button id="read">KNOW MORE</button></a>  
			</div>  
		</div> 
	</div> 
</div> 
		</div>	
</section>

<!-------------------PROGRAMS END-------------------------->
<!-------------------COVERING START-------------------------->
<section class="cover-section" id="cover">
	<div class="row py-5">
	<div class="col-lg-8 col-md-6 col-12">
	<h2 class="font-weight-bold tophead1 text-right" style="color: rgba(124,77,255 ,1)">
		<button class="collapse-btn-2" id="margin-lefts" data-toggle="collapse" 
		data-target="#colaapse-2" ><img src="{% static 'staticHome/images/drop-down-arrow.png'%}" alt="" srcset="">
	</button> <p class="m-left">SHOW MORE</p>WHAT WE COVER</h2>
	</div>
	<div class="col-lg-4 col-md-6 col-12">
	<img src="{% static 'staticHome/images/show18.png'%}" class="img-fluid imgwidth">
	</div>
	</div>
	<div id="colaapse-2" class="container collapse">
		<div class="row">
			<div class="col-4 col-lg-2 col-md-3 mt-lg-5">
				<img src="{% static 'staticHome/images/show8.png'%}"  class=" img-fluid"></img>
				<p class="font-weight-bold text-center num1">100</p>
				<h5 class="text-center py-5 text-uppercase font-weight-bold headfont">students</p>
			</div>
			<div class="col-4 col-lg-2 col-md-3 mt-lg-5">
				 <img src="{% static 'staticHome/images/show9.png'%}" class=" img-fluid"></img>
				 <p class="font-weight-bold text-center num2">16</p>
				 <h5 class="text-center py-5 text-uppercase font-weight-bold headfont">courses</p>
			</div>
			<div class="col-4 col-lg-2 col-md-3 mt-lg-5">
				<img src="{% static 'staticHome/images/show10.png'%}"  class=" img-fluid"></img>
				<p class="font-weight-bold text-center num3">50</p>
				<h5 class="text-center py-5 text-uppercase font-weight-bold headfont">placements</p>
			</div>
			<div class="col-12 col-lg-6 col-md-3">
				<img src="{% static 'staticHome/images/show12.png'%}" class="show12 img-fluid"></img>
			</div>
		</div>	
	</div>
	<!-- <div class="container">
		<div class="row">
			<div class="col-12 col-lg-12 col-md-12">
				<p class="text-center" style="font-size: 24px;">The programing language enables us to write efficient programs and develop
				online solutions such as - mobile applications, web applications</p>
			</div>
		</div>
	</div> -->
</section>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>








<!-------------------COVERING END-------------------------->
<!-------------------OURTEAM START-------------------------->
<!-- <section class="team-section" id="team">
	<div class="row py-5">
	<div class="col-lg-4 col-md-6 col-10">
	<img src="{% static 'staticHome/images/show5.png'%}" class="img-fluid">
	</div>
	<div class="col-lg-6 col-md-6 col-12">
	<h2 class="font-weight-bold tophead" style="color: rgba(0,191,255 ,1)">OUR TEAM</h2>
	</div>
	</div>
</section> -->
<!-------------------OURTEAM END-------------------------->
<!-------------------FOOTER START-------------------------->
<!---------------------FOOTER STARTS--------------------->
<section class="footer-section bg-lightgrey" id="foot-sec">
	<div class="contai">
		<div class="footer text-center">
			<div>
				<div class="row mb-5">
					<div class="col-12">
						<p class="mb-0" id="socialmedia1" style="overflow-y: hidden;padding-top: 40px;">
							<a href="https://www.facebook.com/caramelacademy/" class="p-2"><span class="fa fa-facebook-square" style="font-size:36px;color: #292C7D;"></span></a>
							<a href="https://twitter.com/caramelacademy" class="p-2"><span class="fa fa-twitter-square" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://www.instagram.com/caramelitacademy/" class="p-2"><span class="fa fa-instagram" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://www.linkedin.com/company/37846486/admin/" class="p-2"><span class="fa fa-linkedin-square" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://in.pinterest.com/caramelacademy/" class="p-2"><span class="fa fa-pinterest-square" style="font-size:36px;color: #292C7D"></span></a>
							<a href="https://api.whatsapp.com/send?phone=+918886660462&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="p-2"><span class="fa fa-whatsapp" style="font-size:36px;color: #292C7D"></span></a>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="mb-0" id="foter" style="font-size: 18px;">
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved By Caramel IT Services Pvt.Ltd.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div> 
 </div>
</section>
<a href="https://api.whatsapp.com/send?phone=+918886660462&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Varela%202." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-------------------FOOTER END-------------------------->
<script src="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'staticHome/javascript/owl.carousel.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'staticHome/javascript/owl.carousel.js'%}"></script>
	
<script>
	var coll = document.getElementById("collap");
	
	  coll.addEventListener("click", function() {
		console.log("working");
	  });
	
	</script>
		<script>
    $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".button-head").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });
        
        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".button-head").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".button-head").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
</script>
<script>
	var i = 0;
  function countClick() {
  i++;
  
  if(i==2)
  {
	window.open("program","_blank");

  }
  }
  </script>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  <script type="text/javascript">
	function readmore(){
		var readmore=document.getElementById('readmore');
		readmore.style.display='flex';
		// document.getElementById('more')style.display='none';
	}
</script>
<script type="text/javascript">
	var $myGroup = $('#myGroup');
$myGroup.on('show.bs.collapse','.collapse', function() {
    $myGroup.find('.collapse.in').collapse('hide');
});
</script>
<script type="text/javascript">
$('#slider').owlCarousel({
    loop: true,
    margin: 10,
    nav: true,
    autoplay:true,
    responsive: {
      0: {
        items: 1
      },
      600: {
        items: 3
      },
      1000: {
        items: 5
      }
    }
  });



</script>

<script type="text/javascript">
	$(document).ready(function(){
    var $btns = $('.btn').click(function() {
        if (this.id == 'all') {
          $('#parent > div').fadeIn(450);
        } else {
          var $el = $('.' + this.id).fadeIn(450);
          $('#parent > div').not($el).hide();
        }
        $btns.removeClass('active');
        $(this).addClass('active');
      })
    
    var $search = $("#search").on('input',function(){
        $btns.removeClass('active');
        var matcher = new RegExp($(this).val(), 'gi');
        $('.box').show().not(function(){
            return matcher.test($(this).find('.name, .sku').text())
        }).hide();
    })
})
</script>
</body>
</html>